{% extends 'base.html' %}

{% block content %}

<h1>blog posts!</h1>

{% for post in posts %}

<h2><a href="/blog/{{ post.key().id() }}">{{ post.title }}</a></h2>
<p>{{ post.body }}</p>
<p class="post-author">written by <a href="/blog/{{ post.author.username }}"
    >{{ post.author.username }}</a> on {{ post.created.strftime('%m/%d/%Y') }}
</p>
<!--
    %m - month 01-12
    %d - day 01-31
    %y - year 17
    %Y - year 2017
    %H - hour 00-23
    %I - hour 01-12
    %p - AM/PM
    %M - minute 00-59
    %a - weekday  Mon
    %A - weekday  Monday
    %w - weekday  0-6 sun-sat
    %b - month  Feb
    %B - month  February
-->

{% endfor %}

{% if username %}
    {% if prev_page %}
    <a href="/blog/{{ username }}?page={{ prev_page }}">&lt; prev</a>
    {% endif %}

    {% if prev_page and next_page %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% endif %}

    {% if next_page %}
    <a href="/blog/{{ username }}?page={{ next_page }}">next &gt;</a>
    {% endif %}
{% endif %}

{% if not username %}
    {% if prev_page %}
    <a href="/blog?page={{ prev_page }}">&lt; prev</a>
    {% endif %}

    {% if prev_page and next_page %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% endif %}

    {% if next_page %}
    <a href="/blog?page={{ next_page }}">next &gt;</a>
    {% endif %}
{% endif %}

{% endblock %}
